*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
	--color-link-hover: #131313;
	--padding-sides: 2rem;
	--padding-row: 1rem;
	--color-row-border: #f0f0f0;
	--color-bg-row-hover: #f0f0f0;
	--color-text-alt: #000;
	--image-gap: 1vw;
	--image-gap-large: 2vw;
	--img-size: 5vw;
	--img-size-large: 14vw;
  --color-bg: #000;
  --color-link: #fff;
  --page-padding: 1.5rem;
  --color-card-1: #d09df2;
  --color-card-2: #9df2eb;
  --color-card-3: #f5e2a4;
  --color-card-4: #d09df2;
  --color-card-5: #9dcaf2;
  --color-card-6: #f29dcc;
  --color-bg-card: rgba(255, 255, 255, 0.2);
  --color-bg-card-inner: rgb(41 27 41);
}
html,body {
	overflow-x: hidden;
}
body {
	margin: 0;
	--color-text-alt: #3e4843;
	--color-heading-main: #000;
	--color-heading-main-alt: #fff;
	--color-heading-sub: #374b41;
	--color-menu: #7ec59d;
	--color-menu-hover: #128b47;
	--color-bg-menu: #000;
	--color-link: #000;
	--color-link-alt: #3e4843;
	--color-link-alt-hover: #fff;
	--color-button-menu: #000;
	--color-button-menu-hover: #79a18a;
	--color-button-close: #fff;
	--color-button-close-hover: #79a18a;
	font-family: meno-banner, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--color-text: #211c19;
	--color-bg: #e3e0d8;
	--color-link-hover: #000;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid #fff;
	background: transparent;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}


.hover-line {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.hover-line::before {
	content: '';
	height: 1px;
	width: 100%;
	background: currentColor;
	position: absolute;
	top: 92%;
	transition: transform 0.3s;
	transform-origin: 0 50%;
}

.hover-line:hover::before {
	transform: scaleX(0);
	transform-origin: 100% 50%;
}

.ww {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100vh;
}
.frame {
	grid-area: 1 / 1 / 2 / 2;
	z-index: 100;
	display: grid;
	align-content: space-between;
	align-items: center;
	height: 100vh;
	padding: 1rem 1rem 0.5rem 1rem;
	pointer-events: none;
	font-size: 1rem;
	grid-template-columns: repeat(4,25%);
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas: 'author heading heading button'
						'... ... ... ...'
						'links links links links'
						'title title title title';
}

.frame--menu-open {
	color: var(--color-text-alt);
	--color-link: var(--color-link-alt);
	--color-link-hover: var(--color-link-alt-hover);
	--color-heading-main: var(--color-heading-main-alt);
}

.frame__title {
	grid-area: title;
	font-size: inherit;
	font-weight: normal;
	margin: 0.5rem 0 0;
	justify-self: center;
}

.frame__links {
	grid-area: links;
	display: flex;
	flex-wrap: wrap;
	justify-self: center;
	align-self: end;
}

.frame__links a {
	margin: 0 0.5rem;
}

.frame__author {
	margin: 0;
	grid-area: author;
}

.frame__button {
	justify-self: end;
	grid-area: button;
}

.frame--menu-open .frame__author {
	opacity: 0;
	pointer-events: none;
}

.frame__heading {
	grid-area: heading;
	text-align: center;
	margin: 0;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	justify-self: center;
}

.frame__heading-main {
	line-height: 0.8;
	display: block;
	font-size: 1.5rem;
	color: var(--color-heading-main);
}

.frame__heading-sub {
	font-size: 0.75rem;
	line-height: 1;
	color: var(--color-heading-sub);
}

.frame--menu-open .frame__heading-sub {
	pointer-events: none;
	opacity: 0;
}

.frame a,
.frame button {
	pointer-events: auto;
}

.button-menu {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	display: inline-grid;
	place-items: center;
	border: 1px solid var(--color-button-menu);
	fill: var(--color-button-menu);
}

.button-menu svg {
	transition: transform 0.5s ease;
}

.button-menu:focus-visible,
.button-menu:hover {
	fill: var(--color-button-menu-hover);
	border-color: var(--color-button-menu-hover);
}

.button-menu:hover svg {
	transform: scale(1.1);
}

.frame--menu-open .button-menu {
	opacity: 0;
	pointer-events: none;
}


.content1 {
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	flex-direction: column;
	width: 100vw;
	position: relative;
	align-items: center;
	height: 100vh;
	justify-content: center;
}

.content__title {
	font-weight: 400;
	text-align: center;
	font-size: 7.5vw;
	line-height: 0.75;
	cursor: default;
	margin: 10vh 0 0 0;
}

.content__title-main {
	font-size: 23vw;
    display: block;
    will-change: opacity, transform;
}

.content__title-sub {
	display: block;
	will-change: opacity, transform;
}

.button-enter {
	margin-top: 4vh;
	cursor: not-allowed;
	transition: transform 0.5s ease;
}

.button-enter:hover {
    transform: translateX(15px) rotate(-40deg);
}

.menu-wrap {
	grid-area: 1 / 1 / 2 / 2;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100vh;
	position: relative;
	background: var(--color-bg-menu);
	pointer-events: none;
	opacity: 0;
}

.menu-wrap.menu-wrap--open {
	pointer-events: auto;
	opacity: 1;
}

.overlay {
	grid-area: 1 / 1 / 2 / 2;
	position: relative;
	z-index: 1000;
	pointer-events: none;
	width: 100%;
	height: 100%;
}

.menu {
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.menu__item {
	font-size: 9vw;
	color: #fff;
	cursor: pointer;
	line-height: 1;
	font-weight: 300;
    text-align: right;
    position: relative;
    will-change: opacity, transform;
}

.menu__item:hover .menu__item-tiny {
	color: #fff;
}

.menu__item-tiny {
	font-size: 1rem;
}



.menu__item-text {
	color: var(--color-menu);
}

.menu__item:hover .menu__item-text {
	color: var(--color-menu-hover);
}

.tiles {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150vh;
	display: flex;
	opacity: 0.5;
	flex-direction: column;
	justify-content: center;
	transform: translate3d(-50%,-50%, 0) rotate(22.5deg);
}

.tiles__line {
	display: flex;
	transform: translateX(25%);
	animation: runner 10s linear infinite;
}

.tiles__line:nth-child(2) {
	animation-duration: 16s;
}

.tiles__line:nth-child(3) {
	animation-duration: 22s;
}

@keyframes runner {
	to {
		transform: translateX(-25%);
	}
}

.tiles__line-img {
	--tile-margin: 3vw;
	flex: none;
	width: 30vh;
	height: 30vh;
	margin: var(--tile-margin);
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 50%;
}

.tiles__line-img--large {
	width: 100vh;
	border-radius: 20vh;
}

.button-close {
	position: absolute;
	top: 0;
	right: 0;
	margin: 2rem;
	stroke: var(--color-button-close);
	fill: none;
}

.button-close:focus-visible,
.button-close:hover {
	stroke: var(--color-button-close-hover);
}

@media screen and (min-width: 53em) {
	.frame {
		grid-template-columns: 390px 1fr 390px;
		grid-template-areas: 'author heading button'
							'... ... ...'
							'title links links';
		font-size: 1.5rem;
	}
	.frame__title {
		justify-self: start;
		align-self: end;
		margin: 0 3rem 0 0;
	}
	.frame__links {
		display: flex;
		justify-self: start;
		padding: 0;
	}
	.frame__links a:not(:last-child) {
		margin-right: 0.5rem;
	}
	.frame__heading-main {
		font-size: 2.15rem;
	}
	.frame__heading-sub {
		font-size: 1rem;
	}
	.menu__item-tiny {
		font-size: 2rem;
	}
	 .frame__sub {
    justify-self: end;
  }

  .modal {
    bottom: 50px;
    right: 50px;
  }
}

.content {
	position: relative;
}

.content--centered {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content__title {
	line-height: 0.9;
	font-family: scotch-display, serif;
	font-weight: 400;
	font-style: normal;
}

.content__title--right {
	text-align: right;
}

.text-light {
	color: var(--color-bg);
}

.content__title-pre {
	display: block;
	font-size: clamp(2rem,10vw,7rem);
	font-weight: 400;
	font-style: normal;
}

.content__title-pre--offset {
	margin-left: 12vw;
}

.content__title em {
	font-weight: bold;
}

.content__title-main {
	font-size: 11vw;
	margin: 0;
}

.content__scroll {
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;
	bottom: 13em;
	justify-content: center;
	padding-bottom: 6rem;

}

.content__scroll::before,
.content__scroll::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 3rem;
	background: currentColor;
	left: 50%;
	top: 3rem;
}

.content__scroll::after {
	background: var(--color-bg);
	height: 0.25rem;
	top: 5rem;
}

.content__bg {
	width: 100%;
	height: 100vh;	
	position: relative;
	display: grid;
	place-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.content__bg--bottom {
	background-position: 50% 100%;
}

.separator {
	display: block;
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	width: 100%;
	height: 150px;
	fill: var(--color-bg);
}

.separator--center {
	top: 10vh;
	height: 300px;
	opacity: 0.2;
}

.separator--up {
	top: -1px;
}

.separator--down {
	bottom: -1px;
}

.separator--solo {
	position: relative;
	height: auto;
	width: calc(100% + 5px);
	margin-left: -2.5px;
}

.separator--line {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
}

.separator--line-light {
	fill: none;
	stroke: var(--color-bg);
	stroke-width: 1px;
}

.content__stacked {
	padding: 20vh 10vw 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content__interlude {
	font-family: ab-appare, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 7vw;
	writing-mode: vertical-rl;
}

.content__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	align-items: end;
}

.content__text--left {
	text-align: left;
}

.content__text h2 {
	font-size: clamp(1.75rem,10vw,7rem);
	font-weight: 400;
	font-family: scotch-display, serif;
	margin: 0;
	line-height: 0.85;
}

.content__text p {
	line-height: 1.5;
	max-width: 40ch;
	font-size: 1.25rem;
}

.content__sides {
	display: grid;
	grid-gap: 6vw;
	grid-template-columns: 100%;
	padding: 10vh 10vw 30vh;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.content__sides--nogap {
	grid-gap: 0;
	padding-bottom: 0;
}

.content__sides .image-clip {
	max-width: 100%;
	justify-self: center;
}

.content--grid {
	justify-items: center;
	padding: 20vh 10vw 30vh; 
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-gap: 10vw;
	max-width: 1200px;
	margin: 0 auto;
}

.content__img {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.footer {
	background: #000;
	position: relative;
	color: #fff;
	--color-link: #988c6c;
	--color-link-hover: #fff;
}

.credits {
	font-size: clamp(1.75rem,3vw,3rem);
	font-weight: 400;
	font-family: scotch-display, serif;
	padding: 10vh 0;
	text-align: center;
}

.image-clip {
	max-width: 100%;
	height: auto;
}

.image-clip--offset {
	margin-top: -20%;
}


@media screen and (min-width: 53em) {
	.content__sides {
		grid-template-columns: 55% 1fr;
	}
	.content--grid {
		grid-template-columns: repeat(2,1fr);
	}
	.content--grid .content__img:nth-child(2){
		margin-top: 50vh;
	}
	.content--grid .content__img:nth-child(3){
		margin-top: -50vh;
	}
}

.oh23 {
	position: relative;
    overflow: hidden;
}

.oh23__inner {
	will-change: transform;
	display: inline-block;
}
.cover {
	background: var(--color-bg-row-hover);
	width: 100%;
	height: 0;
	opacity: 0;
	pointer-events: none;
	z-index: 10;
	position: fixed;
	left: 0;
	will-change: height, top;
}

.content33 {
	position: relative;
	z-index: 100;
	border-bottom: 1px solid var(--color-row-border);
}

.row {
	z-index: 1;
	color: var(--color-text);
	display: grid;
	position: relative;
	cursor: pointer;
	grid-template-rows: var(--img-size);
	grid-template-columns: auto 1fr;
	grid-column-gap: 5vw;
	align-items: center;
	padding: var(--padding-row) var(--padding-sides);
	border-top: 1px solid var(--color-row-border);
	transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.row:hover {
	background-color: var(--color-bg-row-hover);
}

.row--current {
	z-index: 11;
	transition: border-color 0.3s ease-out;
}

.cell {
	position: relative;
}

.cell__title,
.preview__item-title {
	margin: 0;
	font-size: clamp(1.953rem,4vw,3.052rem);
	position: relative;
	font-weight: 400;
	line-height: 1;
	font-family: neue-haas-grotesk-display, sans-serif;
	white-space: nowrap;
}

.cell__title--switch {
	font-family: lores-22-serif, sans-serif;
	font-weight: 700;
}

.cell__title {
	display: grid;
	grid-template-rows: 100% 100%;
}

.cell--images {
	display: grid;
	align-content: center;
	grid-auto-columns: auto;
	grid-auto-flow: column;
	grid-gap: var(--image-gap);
	justify-content: end;
	margin-left: auto;
}

.cell__img {
	width: var(--img-size);
	display: grid;
	position: relative;
	grid-template-columns: 100%;
	grid-template-rows: auto auto;
	will-change: transform, opacity;
	opacity: 0;
}

.cell__img-inner {
	background-size: cover;
	background-position: 50% 50%;
	aspect-ratio: 1;
	width: 100%;
	border-radius: calc(var(--image-gap) / 3);
}

.cell__img-title {
	max-width: 100%;
	font-size: 1rem;
	font-weight: 300;
	color: var(--color-text-alt);
	margin: 0;
	height: 0;
	opacity: 0;
	white-space: nowrap;
	will-change: opacity, transform;

	display: none;
}

.preview {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 200;
}

.preview__close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1;
	padding: 2rem;
	cursor: pointer;
	opacity: 0;
	font-family: sans-serif;
}

.preview__close--show {
	pointer-events: auto;
}

.preview__item {
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
    justify-items: center;
	align-content: center;
	grid-gap: 10vh;
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.preview__item--current {
	pointer-events: auto;
	height: 100vh;
	opacity: 1;
}

.preview__item-title {
	font-family: lores-22-serif, sans-serif;
	font-weight: 700;
	font-size: clamp(1.563rem, 6vw, 3.815rem);
}

.grid33 {
	position: relative;
	display: grid;
	max-width: 1200px;
	width: 100%;
    grid-gap: var(--image-gap-large);
	justify-content: center;
	justify-items: center;
	--img-size: var(--img-size-large);
	grid-template-columns: repeat(4,var(--img-size));
	grid-template-rows: repeat(2,var(--img-size));
}

.grid33 .cell__img {
	width: var(--img-size-large);
}

#mm {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	font-family: auger-mono, monospace;
	font-weight: 300;
	text-transform: uppercase;
	position: relative;
}

.frame__sub {
  display: grid;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-link-hover);
  place-items: center;
  border-radius: 50%;
}
.logogogo {
  display: grid;
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-link-hover);
  place-items: center;
  border-radius: 50%;
}
.frame__sub:hover::before,
.frame__sub:focus::before  {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30%;
  left: -30%;
}

.frame__sub svg {
  fill: var(--color-link-hover);
  width: 25px;
  height: 25px;
}

.modal {
  pointer-events: none;
  opacity: 0;
  transform: translate3d(0,20px,0);
  position: absolute;
  bottom: 55px;
  right: 0px;
  background: #8a74c4;
  color: #fff;
  width: 280px;
  max-width: calc(100vw - 1.5rem * 2);
  line-height: 1.4;
  padding: 1.5rem;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.3s;
}

.frame__sub:hover .modal,
.frame__sub:focus .modal {
  pointer-events: auto;
  opacity: 1;
  transform: translate3d(0px,0px,0px);
}
#cc {
	position:relative;
	  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "Kode Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../img/cj.png);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
.intro44 {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20vh 20vh auto;
  grid-template-areas: 'intro-title' 'intro-hint' '...';
  place-items: center;
  padding: 0 1.5rem;
}

.intro__title {
  text-transform: uppercase;
  font-size: clamp(2rem,7vw,8rem);
  font-weight: 400;
  grid-area: intro-title;
  position: relative;
  z-index: 100;
  align-self: center;
  margin: 0;
  text-align: center;
}

.intro__hint {
  grid-area: intro-hint;
  position: relative;
  z-index: 100;
  align-self: center;
  font-size: 1.5rem;
  text-align: center;
}

.intro__hint::after {
  content: '\00BB';
  position: absolute;
  top: 100%;
  left: 0%;
  text-align: center;
  font-size: 3rem;
  width: 100%;
  transform: rotate(90deg);
  animation: pulse 0.3s linear alternate infinite;
}

@keyframes pulse {
  to {
    top: 120%;
  }
}

.grid44 {
  position: relative;
  perspective: 1000px;
  align-self: start;
  grid-area: intro-title;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-content: center;
  gap: 3rem;
  filter: brightness(70%);
}

.card4 {
  width: 30vw;
  max-width: 255px;
  min-width: 150px;
  aspect-ratio: 2/3;
  font-size: 9px;
  text-transform: uppercase;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  position: relative;
  align-items: stretch;
  outline: 1px solid var(--color-card);
  background: var(--color-bg-card);
  grid-template-areas: 'card-img card-img' 'card-title card-meta' 'card-subtitle card-subtitle' 'card-desc card-desc';
}

.grid44 .card4 {
   box-shadow: 0 2px 7px 0 rgba(0,0,0,0.8);
}

.card4:nth-child(1n) {
  --color-card: var(--color-card-1);
}

.card4:nth-child(2n) {
  --color-card: var(--color-card-2);
}

.card4:nth-child(3n) {
  --color-card: var(--color-card-3);
}

.card4:nth-child(4n) {
  --color-card: var(--color-card-4);
}

.card4:nth-child(5n) {
  --color-card: var(--color-card-5);
}

.card4:nth-child(6n) {
  --color-card: var(--color-card-6);
}

.card4 > * {
  background-color: var(--color-bg-card-inner);
}

.card4__img {
  grid-area: card-img;
  background-size: cover;
  background-position: 50% 50%;
  aspect-ratio: 1;
  max-width: 100%;
  border-radius: 6px 6px 0 0;
}

.card4__title {
  padding: 0.5rem 3px;
  grid-area: card-title;
  margin: 0;
}

.card4__meta {
  grid-area: card-meta;
  padding: 0.5rem 3px;
  text-align: right;
}

.card4__subtitle {
  grid-area: card-subtitle;
  margin: 0;
  padding: 0 3px;
}

.card4__description {
  grid-area: card-desc;
  margin: 0;
  border-radius: 0 0 6px 6px;
  padding: 0 3px;
}

.card4-wrap {
  margin-top: 5vh;
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: row;
  grid-template-columns: 250px;
  text-align: center;
  justify-items: center;
}

.card4--rel  {
  align-items: start;
  background: rgba(255,255,255,0.1);
}

.card4--rel .card4__img {
  aspect-ratio: 4 / 3;
  filter: contrast(0.8);
}

.card4--rel .card4__title {
  grid-column-end: 3;
  background: none;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: none;
  padding: 2rem 1rem 1rem;
}



.section-title {
  width: 100%;
  display: grid;
  place-items: center;
  font-size: clamp(2rem,6vw,6rem);
  line-height: 1;
  font-weight: 400;
  margin: 25vh auto 0;
  max-width: 600px;
  text-align: center;
  text-transform: uppercase;
}

.wrap {
  position: relative;
  min-height: 100vh;
}

.wrap__inner {
  position: relative;
  perspective: 1000px;
}










.credits {
  font-size: 1.5rem;
  text-align: center;
  margin: 50vh auto 0;
  padding-bottom: 50vh;
}

.section-title {
  width: 100%;
  display: grid;
  place-items: center;
  font-size: clamp(2rem,6vw,6rem);
  line-height: 1;
  font-weight: 400;
  margin: 25vh auto 0;
  max-width: 600px;
  text-align: center;
  text-transform: uppercase;
}

.wrap {
  position: relative;
  min-height: 100vh;
}

.wrap__inner {
  position: relative;
  perspective: 1000px;
}

.content44 {
  width: 100vw;
  position: relative;
  transform-style: preserve-3d;
  display: grid;
  grid-template-areas: 'card';
  grid-template-columns: 100%;
  place-items: center;
}

.content44 .card4 {
  grid-area: card;
  background: rgba(132, 128, 143, 0.36);
}

@media screen and (min-width: 53em) {
  .frame__sub {
    justify-self: end;
  }

  .modal {
    bottom: 50px;
    right: 50px;
  }
  .intro44 {
    grid-template-rows: 60vh 40vh auto;
  }
  .intro__title {
    align-self: end;
  }
  .grid44 {
    padding-top: 12vh;
  }
  .content44 {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .card-wrap {
    grid-template-columns: repeat(2, 300px);
  }
}
