*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}
html,body {
	overflow-x: hidden;
}
body {
	margin: 0;
	--color-text-alt: #3e4843;
	--color-heading-main: #000;
	--color-heading-main-alt: #fff;
	--color-heading-sub: #374b41;
	--color-menu: #7ec59d;
	--color-menu-hover: #128b47;
	--color-bg-menu: #000;
	--color-link: #000;
	--color-link-alt: #3e4843;
	--color-link-alt-hover: #fff;
	--color-button-menu: #000;
	--color-button-menu-hover: #79a18a;
	--color-button-close: #fff;
	--color-button-close-hover: #79a18a;
	font-family: meno-banner, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--color-text: #211c19;
	--color-bg: #e3e0d8;
	--color-link-hover: #000;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid #fff;
	background: transparent;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}


.hover-line {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.hover-line::before {
	content: '';
	height: 1px;
	width: 100%;
	background: currentColor;
	position: absolute;
	top: 92%;
	transition: transform 0.3s;
	transform-origin: 0 50%;
}

.hover-line:hover::before {
	transform: scaleX(0);
	transform-origin: 100% 50%;
}

.ww {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100vh;
}
.frame {
	grid-area: 1 / 1 / 2 / 2;
	z-index: 100;
	display: grid;
	align-content: space-between;
	align-items: center;
	height: 100vh;
	padding: 1rem 1rem 0.5rem 1rem;
	pointer-events: none;
	font-size: 1rem;
	grid-template-columns: repeat(4,25%);
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas: 'author heading heading button'
						'... ... ... ...'
						'links links links links'
						'title title title title';
}

.frame--menu-open {
	color: var(--color-text-alt);
	--color-link: var(--color-link-alt);
	--color-link-hover: var(--color-link-alt-hover);
	--color-heading-main: var(--color-heading-main-alt);
}

.frame__title {
	grid-area: title;
	font-size: inherit;
	font-weight: normal;
	margin: 0.5rem 0 0;
	justify-self: center;
}

.frame__links {
	grid-area: links;
	display: flex;
	flex-wrap: wrap;
	justify-self: center;
	align-self: end;
}

.frame__links a {
	margin: 0 0.5rem;
}

.frame__author {
	margin: 0;
	grid-area: author;
}

.frame__button {
	justify-self: end;
	grid-area: button;
}

.frame--menu-open .frame__author {
	opacity: 0;
	pointer-events: none;
}

.frame__heading {
	grid-area: heading;
	text-align: center;
	margin: 0;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	justify-self: center;
}

.frame__heading-main {
	line-height: 0.8;
	display: block;
	font-size: 1.5rem;
	color: var(--color-heading-main);
}

.frame__heading-sub {
	font-size: 0.75rem;
	line-height: 1;
	color: var(--color-heading-sub);
}

.frame--menu-open .frame__heading-sub {
	pointer-events: none;
	opacity: 0;
}

.frame a,
.frame button {
	pointer-events: auto;
}

.button-menu {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	display: inline-grid;
	place-items: center;
	border: 1px solid var(--color-button-menu);
	fill: var(--color-button-menu);
}

.button-menu svg {
	transition: transform 0.5s ease;
}

.button-menu:focus-visible,
.button-menu:hover {
	fill: var(--color-button-menu-hover);
	border-color: var(--color-button-menu-hover);
}

.button-menu:hover svg {
	transform: scale(1.1);
}

.frame--menu-open .button-menu {
	opacity: 0;
	pointer-events: none;
}


.content1 {
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	flex-direction: column;
	width: 100vw;
	position: relative;
	align-items: center;
	height: 100vh;
	justify-content: center;
}

.content__title {
	font-weight: 400;
	text-align: center;
	font-size: 7.5vw;
	line-height: 0.75;
	cursor: default;
	margin: 10vh 0 0 0;
}

.content__title-main {
	font-size: 23vw;
    display: block;
    will-change: opacity, transform;
}

.content__title-sub {
	display: block;
	will-change: opacity, transform;
}

.button-enter {
	margin-top: 4vh;
	cursor: not-allowed;
	transition: transform 0.5s ease;
}

.button-enter:hover {
    transform: translateX(15px) rotate(-40deg);
}

.menu-wrap {
	grid-area: 1 / 1 / 2 / 2;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100vh;
	position: relative;
	background: var(--color-bg-menu);
	pointer-events: none;
	opacity: 0;
}

.menu-wrap.menu-wrap--open {
	pointer-events: auto;
	opacity: 1;
}

.overlay {
	grid-area: 1 / 1 / 2 / 2;
	position: relative;
	z-index: 1000;
	pointer-events: none;
	width: 100%;
	height: 100%;
}

.menu {
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.menu__item {
	font-size: 9vw;
	color: #fff;
	cursor: pointer;
	line-height: 1;
	font-weight: 300;
    text-align: right;
    position: relative;
    will-change: opacity, transform;
}

.menu__item:hover .menu__item-tiny {
	color: #fff;
}

.menu__item-tiny {
	font-size: 1rem;
}



.menu__item-text {
	color: var(--color-menu);
}

.menu__item:hover .menu__item-text {
	color: var(--color-menu-hover);
}

.tiles {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150vh;
	display: flex;
	opacity: 0.5;
	flex-direction: column;
	justify-content: center;
	transform: translate3d(-50%,-50%, 0) rotate(22.5deg);
}

.tiles__line {
	display: flex;
	transform: translateX(25%);
	animation: runner 10s linear infinite;
}

.tiles__line:nth-child(2) {
	animation-duration: 16s;
}

.tiles__line:nth-child(3) {
	animation-duration: 22s;
}

@keyframes runner {
	to {
		transform: translateX(-25%);
	}
}

.tiles__line-img {
	--tile-margin: 3vw;
	flex: none;
	width: 30vh;
	height: 30vh;
	margin: var(--tile-margin);
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 50%;
}

.tiles__line-img--large {
	width: 100vh;
	border-radius: 20vh;
}

.button-close {
	position: absolute;
	top: 0;
	right: 0;
	margin: 2rem;
	stroke: var(--color-button-close);
	fill: none;
}

.button-close:focus-visible,
.button-close:hover {
	stroke: var(--color-button-close-hover);
}

@media screen and (min-width: 53em) {
	.frame {
		grid-template-columns: 390px 1fr 390px;
		grid-template-areas: 'author heading button'
							'... ... ...'
							'title links links';
		font-size: 1.5rem;
	}
	.frame__title {
		justify-self: start;
		align-self: end;
		margin: 0 3rem 0 0;
	}
	.frame__links {
		display: flex;
		justify-self: start;
		padding: 0;
	}
	.frame__links a:not(:last-child) {
		margin-right: 0.5rem;
	}
	.frame__heading-main {
		font-size: 2.15rem;
	}
	.frame__heading-sub {
		font-size: 1rem;
	}
	.menu__item-tiny {
		font-size: 2rem;
	}
}

.content {
	position: relative;
}

.content--centered {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content__title {
	line-height: 0.9;
	font-family: scotch-display, serif;
	font-weight: 400;
	font-style: normal;
}

.content__title--right {
	text-align: right;
}

.text-light {
	color: var(--color-bg);
}

.content__title-pre {
	display: block;
	font-size: clamp(2rem,10vw,7rem);
	font-weight: 400;
	font-style: normal;
}

.content__title-pre--offset {
	margin-left: 12vw;
}

.content__title em {
	font-weight: bold;
}

.content__title-main {
	font-size: 11vw;
	margin: 0;
}

.content__scroll {
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;
	bottom: 13em;
	justify-content: center;
	padding-bottom: 6rem;

}

.content__scroll::before,
.content__scroll::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 3rem;
	background: currentColor;
	left: 50%;
	top: 3rem;
}

.content__scroll::after {
	background: var(--color-bg);
	height: 0.25rem;
	top: 5rem;
}

.content__bg {
	width: 100%;
	height: 100vh;	
	position: relative;
	display: grid;
	place-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.content__bg--bottom {
	background-position: 50% 100%;
}

.separator {
	display: block;
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	width: 100%;
	height: 150px;
	fill: var(--color-bg);
}

.separator--center {
	top: 10vh;
	height: 300px;
	opacity: 0.2;
}

.separator--up {
	top: -1px;
}

.separator--down {
	bottom: -1px;
}

.separator--solo {
	position: relative;
	height: auto;
	width: calc(100% + 5px);
	margin-left: -2.5px;
}

.separator--line {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
}

.separator--line-light {
	fill: none;
	stroke: var(--color-bg);
	stroke-width: 1px;
}

.content__stacked {
	padding: 20vh 10vw 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content__interlude {
	font-family: ab-appare, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 7vw;
	writing-mode: vertical-rl;
}

.content__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	align-items: end;
}

.content__text--left {
	text-align: left;
}

.content__text h2 {
	font-size: clamp(1.75rem,10vw,7rem);
	font-weight: 400;
	font-family: scotch-display, serif;
	margin: 0;
	line-height: 0.85;
}

.content__text p {
	line-height: 1.5;
	max-width: 40ch;
	font-size: 1.25rem;
}

.content__sides {
	display: grid;
	grid-gap: 6vw;
	grid-template-columns: 100%;
	padding: 10vh 10vw 30vh;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.content__sides--nogap {
	grid-gap: 0;
	padding-bottom: 0;
}

.content__sides .image-clip {
	max-width: 100%;
	justify-self: center;
}

.content--grid {
	justify-items: center;
	padding: 20vh 10vw 30vh; 
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-gap: 10vw;
	max-width: 1200px;
	margin: 0 auto;
}

.content__img {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.footer {
	background: #000;
	position: relative;
	color: #fff;
	--color-link: #988c6c;
	--color-link-hover: #fff;
}

.credits {
	font-size: clamp(1.75rem,3vw,3rem);
	font-weight: 400;
	font-family: scotch-display, serif;
	padding: 10vh 0;
	text-align: center;
}

.image-clip {
	max-width: 100%;
	height: auto;
}

.image-clip--offset {
	margin-top: -20%;
}


@media screen and (min-width: 53em) {
	.content__sides {
		grid-template-columns: 55% 1fr;
	}
	.content--grid {
		grid-template-columns: repeat(2,1fr);
	}
	.content--grid .content__img:nth-child(2){
		margin-top: 50vh;
	}
	.content--grid .content__img:nth-child(3){
		margin-top: -50vh;
	}
}

.oh {
	position: relative;
    overflow: hidden;
}

.oh__inner {
	will-change: transform;
	display: inline-block;
}
